<div class="col-3 col-layout">
  {{#each sortedPosts as |post index|}}
  <div class="preview-tab">
    {{#unless index}}
      <div class="img-preview">
        {{#if post.mainImg}}
          <img class="card-img" src="{{blog-img post.mainImg}}" alt="" />
        {{else}}
          <img class="card-img" src="https://unsplash.it/298/100/?random" alt="" />
        {{/if}}
      </div>
    {{/unless}}
    <div class="tab-body">
      <span class="pill pull-right card-date">{{moment-format post.shortDate "M-D-YYYY"}}</span>
      <h4>{{post.title}}</h4>
      {{post.description}}
      {{#link-to 'posts.post' post class="button button-default button-block"}}Read{{/link-to}}
    </div>
  </div>
  {{/each}}
</div>

<div class="col-9 col-layout">
  {{#if showSummary}}
    <div class="container">
      <div class="col-push-2 col-8">
        <h2>Welcome</h2>
        <p>Welcome to Donald Wasserman&#39;s personal website.  </p>
        <h3 id="some-things-that-interest-me-">Some things that interest me:</h3>
        <ul>
          <li>Drupal</li>
          <li>Node.js</li>
          <li>Ember.js</li>
          <li>Front-end development</li>
          <li>Digital analytics and strategy</li>
          <li>Markdown</li>
          <li>Sass</li>
        </ul>
        <h3 id="how-i-built-this-website">How I built this website</h3>
        <p>
          I built this website using Ember and Node/Express, using a collection of markdown files as the basis for most of the content.
        </p>

        <p>
          The content is parsed following the Ember Data REST format using a custom NPM module that converts markdown and YML front-matter into a JSON API-ready javascript object.
        </p>
      </div>
    </div>
  {{/if}}
  {{liquid-outlet}}
</div>
